.background-1 {
  background-image: url("homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;

  .header-border {
    border-bottom: 1px solid white;
    .header {
      display: flex;
      justify-content: space-between;
      margin-left: 100px;
      margin-right: 100px;
      font-family: 'Oswald';
      font-size: 21px;
      font-weight: bold;
      color: white;
    }
  }

  .title-and-subtitle {
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Oswald';
    .title {
      font-size: 82px;
      height: 200px;
    }

    .subtitle {
      font-size: 28px
    }
  }
}

.background-2 {
  background-image: url("services.jpg");
  background-size: cover;
  background-position: center;
  height: 760px;
}

.background-3 {
  height: 575px;
  background-color: #816BD9;
}

.background-4 {
  display: flex;

  .left-1 {
    background-image: url("media.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: 1;
  }

  .right-1{
    height: 800px;
    background-color: #1B1B1B;
    flex: 1;
  }
}

.background-5 {
  display: flex;

  .left-2 {
    height: 800px;
    background-color: #816BD9;
    flex: 1;
  }

  .right-2 {
    background-image: url("web.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: 1;
  }

}
