.page {
  font-family: 'oswald';
}

.background-1 {
  background-image: url("homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 1000px;

  .header-border {
    border-bottom: 1px solid white;
    .header {
      display: flex;
      justify-content: space-between;
      margin-left: 100px;
      margin-right: 100px;
      font-size: 21px;
      font-weight: bold;
      color: white;
    }
  }

  .title-and-subtitle {
    margin-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Oswald';
    text-shadow: 2px 2px 4px black;
    .title {
      font-size: 82px;
      height: 200px;
    }

    .subtitle {
      font-size: 28px
    }
  }
}

.background-2 {
  background-image: url("services.jpg");
  background-size: cover;
  background-position: center;
  height: 760px;
}

.background-3 {
  height: 625px;
  background-color: #816BD9;

  .title-and-subtitle-1{
    font-family: 'oswald';
    color: white;
  }

  .title-1{
    font-size: 40px;
  }

  .subtitle-1{
    font-size: 26px;
    opacity: 75%;
  }
}

.background-4 {
  display: flex;

  .left-1 {
    background-image: url("media.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: 1;
  }

  .right-1{
    height: 800px;
    background-color: #1B1B1B;
    flex: 1;
    .title-and-subtitle-2{
      color: white;
    }

    .title-2{
      font-size: 40px;
    }

    .subtitle-2{
      font-size: 26px;
      opacity: 75%;
    }
  }
}

.background-5 {
  display: flex;

  .left-2 {
    height: 800px;
    background-color: #816BD9;
    flex: 1;

    .title-and-subtitle-3{
      color: white;
    }

    .title-3{
      font-size: 40px;
    }

    .subtitle-3{
      font-size: 26px;
      opacity: 75%;
    }
  }

  .right-2 {
    background-image: url("web.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: 1;
  }
}

.background-6 {
  display: flex;

  .left-3 {
    background-image: url("marketing.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: 1;
  }

  .right-3{
    height: 800px;
    background-color: #1B1B1B;
    flex: 1;

    .title-and-subtitle-4{
      color: white;
      padding-left: 75px;
      padding-right: 75px;
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
    }

    .title-4{
      font-size: 40px;
    }

    .subtitle-4{
      font-size: 26px;
      opacity: 75%;
    }
  }
}

.background-7 {
  background-image: url("steps.jpg");
  background-size: cover;
  background-position: center;
  height: 665px;
  display: flex;
  justify-content: center;
  align-items: center;

  .background-7-cards {
    display: flex;
    opacity: 50%;
    color: white;
    width: 100%;

    .subtitler {
      font-size: 59px;
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .descriptioner {
      font-size: 20px;
    }

    .idea-card {
      width: 350px;
      height: 440px;
      background-color: black;
      margin: 60px;
      padding: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .design-card {
      width: 350px;
      height: 440px;
      background-color: black;
      margin: 60px;
      padding: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .action-card {
      width: 350px;
      height: 440px;
      background-color: black;
      margin: 60px;
      padding: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.background-8 {
  height: 320px;
  background-color: #d9d9d9;

  .connect-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-10 {
      font-size: 59px;

      .connect-text {
        margin-top: 25px;
        margin-bottom: 20px;
      }
    }

    .subtitle-10 {
      font-size: 19px;
      opacity: 75%;
    }

    .connect-icons {
      margin-top: 25px;
    }
  }
}

.fab {
  padding: 15px;
}

.footer{
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0px 20px;
}
