<%# Page %>
<div class="page">
  <%# First page (home) %>
  <div class="background-1">
    <div class="header-border">
      <nav class="navbar navbar-expand-xl navbar-light">
          <div class="container-fluid">
              <button type="button" data-toggle="collapse" data-target="#navbar-menu" class="navbar-toggler">
                  <span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbar-menu">
                  <ul class="navbar-nav mr-auto header header-nav">
                      <li><a href="#home" class="nav-link home-action">Home</a></li>
                      <li><a href="#services" class="nav-link services-actio ">My Services</a></li>
                      <li><a href="#about-me" class="nav-link aboutme-action">About Me</a></li>
                      <li><a href="#the-process" class="nav-link theprocess-action">The Process</a></li>
                      <li><a href="#contact" class="nav-link contact-action">Contact</a></li>
                      <%# <li><a href="#projects" class="nav-link projects-action">Projects</a></li> %>
                  </ul>
              </div>
          </div>
      </nav>
    </div>


    <div class="title-and-subtitle">
      <div class="title">
        <p >Kam's Web Solutions</p>
      </div>
      <div class="subtitle">
        <p>Web Developer & Digital Marketer</p>
      </div>
    </div>
  </div>

  <%# Second page (Services) %>
  <div class="background-2" id="services">
    <div class="background-2-cards">
      <div class="social-media-management-card">
        <div class="social-media-management-icon">
          <p><i class="fab fa-instagram fa-4x"></i></p>
        </div>
        <div class="social-media-title">
          <p class="subtitlerr" style="margin-bottom: 0px; margin-top: 0px;">Social Media Management</p>
        </div>
        <div class="social-media-title-description">
          <p class="descriptionerr">Increase the reach of your company. Relevant content created and posted to maximize your businesses reach and attract new clients.</p>
        </div>
      </div>
      <div class="web-design-and-development-card">
        <div class="web-design-and-development-icon">
          <p><i class="fas fa-code fa-4x"></i></p>
        </div>
        <div class="web-design-and-development-title">
          <p class="subtitlerr" style="margin-bottom: 0px; margin-top: 0px;">Web Design & Development</p>
        </div>
        <div class="web-design-and-development-description">
          <p class="descriptionerr">A website is a businesses most effective marketing tool. Every business should have a clean website that their clients can refer too.</p>
        </div>
      </div>
      <%# <div class="digital-marketing-and-seo-card">
        <div class="digital-marketing-and-seo-icon">
          <p><i class="fas fa-mobile-alt fa-4x"></i></p>
        </div>
        <div class="digital-marketing-and-seo-title">
          <p class="subtitlerr" style="margin-bottom: 0px; margin-top: 0px;">Digital Marketing & SEO</p>
        </div>
        <div class="digital-marketing-and-seo-description">
          <p class="descriptionerr">Spread the word, increase website reach, traffic, sales  and improve your organic ranking on search engines through the power of SEO.</p>
        </div>
      </div> %>
    </div>
  </div>

  <%# Third page (About me) %>
  <div class="background-3" id="about-me">
    <div class="title-and-subtitle-1">
      <div class="title-1">
        <p style="margin-bottom: 20px;">PROFESSIONAL WEB DEVELOPMENT & DIGITAL MARKETING</p>
      </div>
      <div class="subtitle-1">
        <p>I use my skills, research and knowledge to help you build a custom, one-of-a-kind website for your business. Ensuring that you are maximizing your reach as a business is my number one priority. Each website I create is different and unique to that business and client, no two websites are built from the same cloth. A website should inspire and excite your clients and attract new ones as well.</p>
        <p>I don't just create affordable websites, but I also focus on getting you to the top of search engine listings by implementing a strategic plan to get your business on top of your competitors.</p>
        <p>If you're looking for someone that takes care and pride in creating something unique for your business then contact me today.</p>
      </div>
    </div>
  </div>

  <%# Forth page (Social Media Management) %>
  <div class="background-4" id="the-process">
    <div class="left-1">
    </div>
    <div class="right-1">
      <div class="title-and-subtitle-2">
        <div class="title-2">
          <p style="margin-top: 0px;"> Social Media Management</p>
        </div>
        <div class="subtitle-2">
          <p>I offer 24/7 services to optimize your online presence on any social media platform of your choice. </p>
          <p>With a deep understanding of social media, I can enhance brand visibility, drive traffic, and engage your target audience effectively.</p>
          <p>As your social media manager, I stay updated on the latest trends and best practices to ensure your accounts are thriving. </p>
          <p>From monitoring messages and comments to analyzing data and refining strategies, I ensure consistent growth and maintain your brand voice.</p>
          <p>I'm here to take your social media presence to new heights!</p>
        </div>
      </div>
    </div>
  </div>

  <%# Fifth page (Web Design & Development) %>
  <div class="background-5">
    <div class="right-2">
    </div>
    <div class="left-2">
      <div class="title-and-subtitle-3">
        <div class="title-3">
          <p style="margin-top: 0px;">Web Design & Development</p>
        </div>
        <div class="subtitle-3">
          <p>As an experienced web designer and developer, I offer a range of services aimed at creating captivating websites that stand out. With expertise in modern technologies like HTML, CSS, and JavaScript, I can build visually stunning and responsive websites tailored to your liking.</p>
          <p>I prioritize effective communication and collaboration, placing your vision and goals at the forefront of the design process. Whether you need a portfolio site, an e-commerce platform, or a dynamic web application, I am committed to exceeding your expectations.</p>
          <p>Let's embark on a creative journey together and create an exceptional online presence for your business.</p>
        </div>
      </div>
    </div>
  </div>

  <%# Sixth page (Digital Marketing & SEO) %>
  <div class="background-6">
    <div class="left-3">
    </div>
    <div class="right-3">
      <div class="title-and-subtitle-4">
        <div class="title-4">
          <p style="margin-top: 0px;">Digital Marketing & SEO</p>
        </div>
        <div class="subtitle-4">
          <p>In today's digital landscape, ensuring your business is discoverable on Google is crucial to its success. If your website doesn't appear in search results, potential customers may never even know your business exists.</p>
          <p>That's where I come in. I specialize in providing comprehensive SEO and digital marketing solutions that help businesses thrive.</p>
          <p>With my expertise, I can revamp your website, create a compelling social media strategy, and conduct in-depth research to enhance your organic ranking on Google.</p>
          <p>By optimizing your online presence, I ensure that your business gains the visibility it deserves.</p>
        </div>
      </div>
    </div>
  </div>

  <%# Seventh page (Idea, Design & Action) %>
  <div id="scroll-target" class="background-7">
    <div class="background-7-cards">
      <div class="idea-card">
        <div class="idea-icon">
          <p><i class="fas fa-lightbulb fa-4x"></i></p>
        </div>
        <div class="idea-title">
          <p class="subtitler">Idea</p>
        </div>
        <div class="idea-description">
          <p class="descriptioner">I work closely with you at the start to fully understand who your target market is, what your company is about, what services/products it provides. I then create potential websites and share the designs with you.</p>
        </div>
      </div>
      <div class="design-card">
        <div class="design-icon">
          <p><i class="fas fa-magic fa-4x"></i></p>
        </div>
        <div class="design-title">
          <p class="subtitler">Design</p>
        </div>
        <div class="design-description">
          <p class="descriptioner">I prefer to create fully personalized websites from scratch rather than using templates. Your website needs a personality that fits your industry and target market. That can't be got from a template.</p>
        </div>
      </div>
      <div class="action-card">
        <div class="action-icon">
          <p><i class="fas fa-plane-departure fa-4x"></i></p>
        </div>
        <div class="action-title">
          <p class="subtitler">Action</p>
        </div>
        <div class="action-description">
          <p class="descriptioner">When your site is fully complete, I inspect every inch to ensure the website is fully responsive for mobile and web. I provide training days and 60 days technical support for free.</p>
        </div>
      </div>
    </div>
  </div>

  <%# Eigth page (Let's Connect!) %>
  <div class="background-8" id="contact">
    <div class="connect-section">
      <div class="title-10">
        <p class="connect-text">Let's Connect!</p>
      </div>
      <div class="subtitle-10">
        <p>kamswebsolutions@gmail.com | 514 664 4206</p>
      </div>
      <div class="connect-icons">
        <a href="https://www.facebook.com/profile.php?id=100093834739979"><i class="fab fa-facebook fa-2x"></i>
        <a href="https://twitter.com/kamswebsolution"><i class="fab fa-twitter fa-2x"></i>
        <a href="https://www.tiktok.com/@kams_web_solutions"><i class="fab fa-tiktok fa-2x"></i>
        <a href="https://www.instagram.com/kams_web_solutions/?hl=en"><i class="fab fa-instagram fa-2x"></i>
        <a href="https://www.linkedin.com/in/kameronjan/"><i class="fab fa-linkedin fa-2x"></i>
        <a href="https://github.com/kameronjan"><i class="fab fa-github fa-2x"></i>
      </div>
    </div>
  </div>

  <%# Footer %>
  <div class="footer">
    <div class="left-footer">
      <p>Kam's Web Solutions 2023. All Rights Reserved</p>
    </div>
    <div class="right-footer">
      <p>Designed & Developed by Kameron Jannissar</p>
    </div>
  </div>
</div>
