<%# First page (home) %>
<div class="background-1">
  <div class="header-border">
    <div class="header">
      <div class="home-action">
        <p>Home</p>
      </div>
      <div class="aboutme-action">
        <p>About Me</p>
      </div>
      <div class="projects-action">
        <p>Projects</p>
      </div>
      <div class="theprocess-action">
        <p>The Process</p>
      </div>
      <div class="services-action">
        <p>Services</p>
      </div>
      <div class="contact-action">
        <p>Contact</p>
      </div>
    </div>
  </div>
  <div class="title-and-subtitle">
    <div class="title">
      <p>KJ Web Solutions</p>
    </div>
    <div class="subtitle">
      <p>Web Developer & Social Media Manager</p>
    </div>
  </div>
</div>

<%# Second page (Services) %>
